h1.title {
    margin-top: 145px;
}

h1.free1-down {
    text-align: center;
    font-size: 34px;
    
}

div#free1q {
    background-color: black;
    padding: 10px 10px 10px 10px;
    margin-bottom: 40px;
}

.free-ul li a{
    color:black;
    
}

.free-ul li a:hover{
    
    color: #e0c664!important;
}

.free-ul li{
list-style-image: url(../images/arrow-anchor.png);
}

h4.free1 {

    margin: 14px 5px 14px 20px;
    font-size: 34px;
    color:black;
}

.row-about {
    padding: 45px 45px 45px 45px;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: unset;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
}


h1.free1-down {
    text-align: center;
    font-size: 24px;
    margin-top: 34px;
}


p#para-about2 {
    margin: 14px 5px 14px 15px;
    color:black;
    padding: 10px;
    
}

.free-ul {
    margin: 14px 5px 14px 25px;
    color:white;
    padding: 10px;
    
}

.col-lg-9 {
    background-color: white;
    margin: 5px 5px 5px 5px;
    padding-right:0px;
    padding-left: 0px;
    
}


.header-content-right .title {
    font-size: 40px !important;
}


img.app-img2 {
    margin: 14px 5px 14px 15px;
}

ul.recent-p1 li a {
      margin: 4px 5px 4px 20px;
    color:black;
    
    
}




@media(max-width:800px){
    .row-about {
    padding: 25px 5px 25px 25px;
    display: block;
    flex-wrap: unset;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
}


.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: unset;
    align-items: center;
    justify-content: space-between;
}

.header-content-right {
    padding: 15px 15px 15px 15px;
}
}